---
import "/src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>David Vallejo | Fullstack Dev</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
  }
  
  html {
    background: linear-gradient(#1f71a8 30%, #182d42) fixed;
    font-family: "Funnel Display", sans-serif;
    color: #e4fffb;
    overflow-x: hidden;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
</style>
